In [3]:
#Importing Python Packages
import pandas as pd # type: ignore
import numpy as np # type: ignore
import matplotlib.pyplot as plt # type: ignore
from sklearn.model_selection import train_test_split # type: ignore
from sklearn.ensemble import RandomForestRegressor # type: ignore
from IPython.display import display_html # type: ignore

#Importing All VI CSV's In Chronological Order:

#2020
June18 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2020/June_18_2020_Combined.csv")
June23 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2020/June_23_2020_Combined.csv")
June30 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2020/June_30_2020_Combined.csv")
July6 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2020/July_6_2020_Combined.csv")

#2021
June16 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2021/June_16_2021_Combined.csv")
June22= pd.read_csv("C:/NSF-REU/Height_Combined_Files/2021/June_22_2021_Combined.csv")
June_30 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2021/June_30_2021_Combined.csv")
July12 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2021/July_12_2021_Combined.csv")

#2022
June15 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2022/June_15_2022_Combined.csv")
June_23 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2022/June_23_2022_Combined.csv")
June28 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2022/June_28_2022_Combined.csv")
July13 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2022/July_13_2022_Combined.csv")
June15 = June15.drop(columns=['id_old'])
June_23 = June_23.drop(columns=['id_old'])
June28 = June28.drop(columns=['id_old'])
July13 = July13.drop(columns=['id_old'])

days = [June18,June23,June30,July6,June16,June22,June_30,July12,June15,June_23,June28,July13] #List of observed dates in chronological order
feature_labels = ['blank'] * 19
importances_list = list()
means = list()
standard_devs = list()
sums = [0.0] * 19
sums_of_features = pd.DataFrame(sums)
blank_index = [''] * 19

#Table caption formatting (for data tables):
def title_case(name):
    year = '\t\t\t\t\t'+ name
    print(year.title()) 

#Data table formatting
def display_side_by_side(*args):
    html_str = ''
    for df in args:
        html_str += df.to_html()
    display_html(
        html_str.replace('table','table style="display:inline; border: 0;"'), 
        raw=True
    )

def feature_importance():
    index = 0
    for features in days: #Iterates through column values on each and every date
        key_features = features.drop(columns=['Plot', 'Year', 'Date', 'Row', 'Range', 'left', 'top', 'right', 'bottom', 'Yld Mass(D', 'Yld Vol(Dr', 'Crop Flw(M', 'Crop Flw(V', 'Mean.Yld.bu.ac', 'X', 'Y'])
        x = key_features
        y = features['Mean.Yld.bu.ac']
        x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.70)
        model = RandomForestRegressor(n_estimators=100) 
        model.fit(x_train, y_train)
        y_predict = model.predict(x_test)
        
        #Feature Importances
        importances = model.feature_importances_
        
        #Display histograms of feature importance in order by date
        field_importance = pd.Series(importances, index=x.columns)
        field_importance.plot(kind='bar')
        plt.bar(range(len(model.feature_importances_)), model.feature_importances_)
        plt.yticks(np.arange(0, importances.max(), 0.1)) 
        plt.rc('xtick', labelsize=15) 
        plt.rc('ytick', labelsize=25)
        plt.show()

        df = pd.DataFrame(importances)
        for i in range(0,19): 
            sums_of_features.iloc[i] += df.iloc[i]

        # if (len(importances_list) == 0):
        #     daily_imp = pd.DataFrame(importances, index=[blank_index], columns=features['Date'].unique())
        # else:
            daily_imp = pd.DataFrame(importances, index=[blank_index], columns=features['Date'].unique())
        importances_list.append(daily_imp)
        
        #Calculating Means and standard deviations (SDs) for each year, and placing them into lists

        if (len(importances_list) % 4 == 0): # If 4 dates have been analyzed, then calulate Mean & SD for year
            
            means.append(sums_of_features/4) # Means were obtained for each feature from dividing sums_of_features list by 4

            feature_sds = [0.0] * 19
            indiv_features_by_year = [0.0] * 4
            for j in range(0,19):
                for i in range(0,4):
                    indiv_features_by_year[i] = importances_list[i+index].values[j]
                feature_sds[j] = np.std(indiv_features_by_year)
            by_year = pd.DataFrame(feature_sds)
            standard_devs.append(by_year) # SDs
            index +=4 # Increments index so that it will calulate SD for all 4 dates from each year

    #After calculations are made, means in the list are assigned to individual variables
    means_2020 = means[0]
    means_2021 = means[1] - means_2020
    means_2022 = means[2] - means_2021 - means_2020
    
    mean2020 = pd.DataFrame(means_2020.values, index=[blank_index], columns=['Mean'])
    mean2021 = pd.DataFrame(means_2021.values, index=[blank_index], columns=['Mean'])
    mean2022 = pd.DataFrame(means_2022.values, index=[blank_index], columns=['Mean'])

    sdevs_2020 = standard_devs[0]
    sdevs_2021 = standard_devs[1]
    sdevs_2022 = standard_devs[2]

    sdev2020 = pd.DataFrame(sdevs_2020.values, index=[blank_index], columns=['SD'])
    sdev2021 = pd.DataFrame(sdevs_2021.values, index=[blank_index], columns=['SD'])
    sdev2022 = pd.DataFrame(sdevs_2022.values, index=[blank_index], columns=['SD'])

    for i in range(0,19):
        feature_labels[i] = key_features.columns[i]
    fl = pd.DataFrame(feature_labels, index=blank_index, columns=['Feature'])

    title_case('2020')
    display_side_by_side(fl, importances_list[0],importances_list[1], importances_list[2], importances_list[3], mean2020, sdev2020)
    
    title_case('2021')
    display_side_by_side(fl, importances_list[4],importances_list[5], importances_list[6], importances_list[7], mean2021, sdev2021)

    title_case('2022')
    display_side_by_side(fl, importances_list[8],importances_list[9], importances_list[10], importances_list[11], mean2022, sdev2022)

feature_importance()

					2020

,Feature
,Red
,Green
,Blue
,BI
,GLI
,NGRDI
,VARI
,BGI
,ExG
,ExR
,ExB
,ExGR
,MGRVI
,RGBVI
,GRRI
,VEG
,Elevation(
,Moisture(%
,Height
,6182020
,0.022247
,0.021537
,0.058895
,0.016603
,0.035819
,0.007650
,0.021472
,0.016330
,0.065594
,0.012455
,0.015228
,0.056528
,0.007123
,0.024488
,0.009498
,0.015737
,0.050176
,0.410131
,0.132488
,6232020
,0.014818
,0.005010
,0.008971
,0.006314
,0.011304
,0.007579
,0.025648
,0.018598
,0.020953
,0.012819
,0.020163
,0.024103
,0.008061
,0.013923
,0.006572
,0.015083
,0.091655
,0.132289
,0.556139
,6302020
,0.004424
,0.005454
,0.005706
,0.005388
,0.005920
,0.003130
,0.008644
,0.008614
,0.013440
,0.009415
,0.009974
,0.016003
,0.002911
,0.005204
,0.004727
,0.005671
,0.100968
,0.406623
,0.377785
,7062020
,0.009599
,0.015644
,0.044848
,0.016683
,0.006843
,0.004084
,0.013451
,0.021934
,0.016269
,0.006855
,0.019750
,0.014759
,0.005112
,0.011826
,0.003559
,0.038917
,0.056328
,0.262967
,0.430571
,Mean
,0.012772
,0.011911
,0.029605
,0.011247
,0.014972
,0.005611
,0.017304
,0.016369
,0.029064
,0.010386
,0.016279
,0.027848
,0.005802
,0.013860
,0.006089
,0.018852
,0.074782
,0.303003
,0.374246
,SD
,0.006590
,0.006999
,0.022843
,0.005406
,0.012207
,0.002032
,0.006649
,0.004901
,0.021261
,0.002430
,0.004123
,0.016943
,0.001980
,0.006929
,0.002242
,0.012250
,0.021888
,0.115065
,0.153881

					2021

,Feature
,Red
,Green
,Blue
,BI
,GLI
,NGRDI
,VARI
,BGI
,ExG
,ExR
,ExB
,ExGR
,MGRVI
,RGBVI
,GRRI
,VEG
,Elevation(
,Moisture(%
,Height
,6162021
,0.016149
,0.016835
,0.013917
,0.013533
,0.008472
,0.006356
,0.014974
,0.014558
,0.032102
,0.010023
,0.017666
,0.034132
,0.006172
,0.007109
,0.004207
,0.009975
,0.111500
,0.553245
,0.109075
,6222021
,0.019145
,0.026118
,0.007955
,0.008779
,0.008067
,0.005228
,0.018806
,0.014645
,0.045324
,0.009736
,0.014473
,0.044126
,0.007556
,0.006835
,0.006242
,0.007626
,0.084951
,0.539090
,0.125297
,6302021
,0.010278
,0.015819
,0.011580
,0.011296
,0.007557
,0.004358
,0.023034
,0.011951
,0.016902
,0.009038
,0.011909
,0.017788
,0.004905
,0.007752
,0.005046
,0.006390
,0.078493
,0.582324
,0.163581
,7122021
,0.016234
,0.010920
,0.026651
,0.010679
,0.012145
,0.007262
,0.016225
,0.024985
,0.031991
,0.009879
,0.021364
,0.033392
,0.006633
,0.010372
,0.007483
,0.014262
,0.082150
,0.520689
,0.136686
,Mean
,0.015452
,0.017423
,0.015026
,0.011072
,0.009060
,0.005801
,0.018260
,0.016535
,0.031580
,0.009669
,0.016353
,0.032359
,0.006317
,0.008017
,0.005744
,0.009563
,0.089273
,0.548837
,0.133660
,SD
,0.003221
,0.005496
,0.007040
,0.001697
,0.001810
,0.001102
,0.003083
,0.004997
,0.010059
,0.000378
,0.003540
,0.009421
,0.000955
,0.001400
,0.001237
,0.003003
,0.013035
,0.022517
,0.019867

					2022

,Feature
,Red
,Green
,Blue
,BI
,GLI
,NGRDI
,VARI
,BGI
,ExG
,ExR
,ExB
,ExGR
,MGRVI
,RGBVI
,GRRI
,VEG
,Elevation(
,Moisture(%
,Height
,6152022
,0.064169
,0.043178
,0.088420
,0.034818
,0.026699
,0.019261
,0.084819
,0.061414
,0.028797
,0.028745
,0.048241
,0.037183
,0.014017
,0.030711
,0.019090
,0.019244
,0.145539
,0.159215
,0.046439
,6232022
,0.019957
,0.020732
,0.023942
,0.018275
,0.013713
,0.011508
,0.046038
,0.032987
,0.053161
,0.045143
,0.035326
,0.060731
,0.015507
,0.019430
,0.008381
,0.032869
,0.157017
,0.089392
,0.295890
,6282022
,0.087321
,0.103099
,0.089443
,0.145140
,0.014420
,0.018093
,0.042872
,0.022515
,0.031893
,0.020477
,0.018229
,0.051400
,0.024697
,0.017124
,0.015713
,0.026599
,0.086724
,0.115999
,0.068241
,7132022
,0.029105
,0.022838
,0.024481
,0.013157
,0.010201
,0.010468
,0.107139
,0.016221
,0.021785
,0.019206
,0.017044
,0.020607
,0.008894
,0.015395
,0.011466
,0.017771
,0.169117
,0.044002
,0.421103
,Mean
,0.050138
,0.047462
,0.056572
,0.052848
,0.016258
,0.014833
,0.070217
,0.033284
,0.033909
,0.028393
,0.029710
,0.042480
,0.015779
,0.020665
,0.013663
,0.024121
,0.139599
,0.102152
,0.207918
,SD
,0.027077
,0.033296
,0.032363
,0.053883
,0.006236
,0.003884
,0.026967
,0.017310
,0.011703
,0.010341
,0.012915
,0.015159
,0.005703
,0.005974
,0.004074
,0.006058
,0.031645
,0.041809
,0.157140