In [193]:
#Importing Python Packages
import pandas as pd # type: ignore
import numpy as np # type: ignore
import matplotlib.pyplot as plt # type: ignore
from sklearn.model_selection import train_test_split # type: ignore
from sklearn.ensemble import RandomForestRegressor # type: ignore
from sklearn.metrics import r2_score # type: ignore
from IPython.display import display_html # type: ignore

#Importing All VI CSV's In Chronological Order:

#2020
June18 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2020/June_18_2020_Combined.csv")
June23 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2020/June_23_2020_Combined.csv")
June30 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2020/June_30_2020_Combined.csv")
July6 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2020/July_6_2020_Combined.csv")

#2021
June16 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2021/June_16_2021_Combined.csv")
June22= pd.read_csv("C:/NSF-REU/Height_Combined_Files/2021/June_22_2021_Combined.csv")
June_30 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2021/June_30_2021_Combined.csv")
July12 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2021/July_12_2021_Combined.csv")

#2022
June15 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2022/June_15_2022_Combined.csv")
June_23 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2022/June_23_2022_Combined.csv")
June28 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2022/June_28_2022_Combined.csv")
July13 = pd.read_csv("C:/NSF-REU/Height_Combined_Files/2022/July_13_2022_Combined.csv")
June15 = June15.drop(columns=['id_old'])
June_23 = June_23.drop(columns=['id_old'])
June28 = June28.drop(columns=['id_old'])
July13 = July13.drop(columns=['id_old'])

days = [June18,June23,June30,July6,June16,June22,June_30,July12,June15,June_23,June28,July13] #List of observed dates in chronological order
feature_labels = ['blank'] * 19
importances_list = list()
means = list()
standard_devs = list()
# r_squared = list()
# r_squared_by_year = list()
sums = [0.0] * 19
sums_of_features = pd.DataFrame(sums)

#Table caption formatting (for data tables):
def title_case(name):
    year = '\t\t\t\t\t'+ name
    print(year.title()) 

#Data table formatting
def display_side_by_side(*args):
    html_str = ''
    for df in args:
        html_str += df.to_html()
    display_html(
        html_str.replace('table','table style="display:inline; border: 0;"'), 
        raw=True
    )

def feature_importance():
    index = 0
    blank_index = [''] * 19
    for features in days: #Iterates through column values on each and every date
        key_features = features.drop(columns=['Plot', 'Year', 'Date', 'Row', 'Range', 'left', 'top', 'right', 'bottom', 'Yld Mass(D', 'Yld Vol(Dr', 'Crop Flw(M', 'Crop Flw(V', 'Mean.Yld.bu.ac', 'X', 'Y'])
        x = key_features
        y = features['Mean.Yld.bu.ac']
        x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.70)
        model = RandomForestRegressor(n_estimators=100) 
        model.fit(x_train, y_train)
        y_predict = model.predict(x_test)
        r2 = r2_score(y_test, y_predict)
        print('R-squared:', r2)
        r_squared.append(r2)
        
        #Feature Importances
        importances = model.feature_importances_
        
        #Display histograms of feature importance in order by date
        # field_importance = pd.Series(importances, index=x.columns)
        # field_importance.plot(kind='bar')
        # plt.bar(range(len(model.feature_importances_)), model.feature_importances_)
        # plt.yticks(np.arange(0, importances.max(), 0.1)) 
        # plt.rc('xtick', labelsize=15) 
        # plt.rc('ytick', labelsize=25)
        # plt.show()

        df = pd.DataFrame(importances)
        for i in range(0,19): 
            sums_of_features.iloc[i] += df.iloc[i]

        # if (len(importances_list) == 0):
        #     daily_imp = pd.DataFrame(importances, index=key_features.columns, columns=features['Date'].unique())
        # else:
            daily_imp = pd.DataFrame(importances, index=[blank_index], columns=features['Date'].unique())
        importances_list.append(daily_imp)
        
        #Calculating Means and standard deviations (SDs) for each year, and placing them into lists

        if (len(importances_list) % 4 == 0): # If 4 dates have been analyzed, then calulate Mean & SD for year
            
            means.append(sums_of_features/4) # Means were obtained for each feature from dividing sums_of_features list by 4
            
            # r2_sum = 0.0
            # r2_dates = [0.0] * 4
            # r2_metrics = [0.0] * 2
            # for i in range(0,4):
            #     r2_dates[i] = r_squared[i+index]
            #     r2_sum += r_squared[i+index]
            # r2_metrics[0] = (r2_sum/4)
            # r2_metrics[1] = np.std(r2_dates)
            # df = pd.DataFrame(r2_dates + r2_metrics)
            # r_squared_by_year.append(df)

            feature_sds = [0.0] * 19
            indiv_features_by_year = [0.0] * 4
            for j in range(0,19):
                for i in range(0,4):
                    indiv_features_by_year[i] = importances_list[i+index].values[j]
                feature_sds[j] = np.std(indiv_features_by_year)
            by_year = pd.DataFrame(feature_sds)
            standard_devs.append(by_year) # SDs
            index +=4 # Increments index so that it will calulate SD for all 4 dates from each year

    #After calculations are made, means in the list are assigned to individual variables
    means_2020 = means[0]
    means_2021 = means[1] - means_2020
    means_2022 = means[2] - means_2021 - means_2020
    
    mean2020 = pd.DataFrame(means_2020.values, index=key_features.columns, columns=['Mean'])
    mean2021 = pd.DataFrame(means_2021.values, index=key_features.columns, columns=['Mean'])
    mean2022 = pd.DataFrame(means_2022.values, index=key_features.columns, columns=['Mean'])

    sdevs_2020 = standard_devs[0]
    sdevs_2021 = standard_devs[1]
    sdevs_2022 = standard_devs[2]

    sdev2020 = pd.DataFrame(sdevs_2020.values, index=key_features.columns, columns=['SD'])
    sdev2021 = pd.DataFrame(sdevs_2021.values, index=key_features.columns, columns=['SD'])
    sdev2022 = pd.DataFrame(sdevs_2022.values, index=key_features.columns, columns=['SD'])

    # r2_2020 = r_squared_by_year[0]
    # r2_2021 = r_squared_by_year[1]
    # r2_2022 = r_squared_by_year[2]

    # r22020 = pd.DataFrame(r2_2020.values, index=['1','2','3', '4', 'Mean', 'SD'], columns=['R2'])
    # r22021 = pd.DataFrame(r2_2021.values, index=['1','2','3', '4', 'Mean', 'SD'], columns=['R2'])
    # r22022 = pd.DataFrame(r2_2022.values, index=['1','2','3', '4', 'Mean', 'SD'], columns=['R2'])

    for i in range(0,19):
        feature_labels[i] = key_features.columns[i]
    fl = pd.DataFrame(feature_labels, index=blank_index, columns=['Feature'])

    title_case('2020')
    display_side_by_side(fl, importances_list[0],importances_list[1], importances_list[2], importances_list[3])
    display_side_by_side(mean2020, sdev2020)
    
    title_case('2021')
    display_side_by_side(fl, importances_list[4],importances_list[5], importances_list[6], importances_list[7])
    display_side_by_side(mean2021, sdev2021)

    title_case('2022')
    display_side_by_side(fl, importances_list[8],importances_list[9], importances_list[10], importances_list[11])
    display_side_by_side(mean2022, sdev2022)

feature_importance()

R-squared: 0.7651704430496007
R-squared: 0.802795958132551
R-squared: 0.7505251492088216
R-squared: 0.8342522777751387
R-squared: 0.6483545601098186
R-squared: 0.7079845681339242
R-squared: 0.712147156477466
R-squared: 0.6298184402851501
R-squared: 0.32295756683295396
R-squared: 0.5196164395080213
R-squared: 0.4592336949972481
R-squared: 0.5233299703007885
					2020

,Feature
,Red
,Green
,Blue
,BI
,GLI
,NGRDI
,VARI
,BGI
,ExG
,ExR
,ExB
,ExGR
,MGRVI
,RGBVI
,GRRI
,VEG
,Elevation(
,Moisture(%
,Height
,6182020
,0.011511
,0.015855
,0.161053
,0.014733
,0.024394
,0.007379
,0.014151
,0.014088
,0.062244
,0.015881
,0.017718
,0.038039
,0.007920
,0.017831
,0.007363
,0.020165
,0.063791
,0.335414
,0.150470
,6232020
,0.008860
,0.008169
,0.013275
,0.007618
,0.007421
,0.003859
,0.016935
,0.014913
,0.016815
,0.015699
,0.024306
,0.019358
,0.004802
,0.018171
,0.005043
,0.021547
,0.070643
,0.145845
,0.576720
,6302020
,0.006407
,0.005343
,0.011260
,0.005348
,0.005077
,0.003807
,0.013086
,0.012708
,0.015720
,0.005436
,0.010102
,0.018415
,0.003477
,0.006902
,0.003473
,0.006310
,0.133310
,0.330508
,0.403309
,7062020
,0.008264
,0.019108
,0.027690
,0.013330
,0.008440
,0.004215
,0.015279
,0.023244
,0.019415
,0.007362
,0.024465
,0.017993
,0.004276
,0.007005
,0.002872
,0.009808
,0.044439
,0.185135
,0.557658

,Mean
Red,0.008760
Green,0.012119
Blue,0.053320
BI,0.010257
GLI,0.011333
NGRDI,0.004815
VARI,0.014863
BGI,0.016238
ExG,0.028548
ExR,0.011094
ExB,0.019148
ExGR,0.023452
MGRVI,0.005119
RGBVI,0.012478
GRRI,0.004688
VEG,0.014457
Elevation(,0.078046
Moisture(%,0.249226
Height,0.422039
,SD
Red,0.001827
Green,0.005575
Blue,0.062522
BI,0.003890
GLI,0.007639
NGRDI,0.001489
VARI,0.001426
BGI,0.004121
ExG,0.019501
ExR,0.004745
ExB,0.005890
ExGR,0.008437
MGRVI,0.001685
RGBVI,0.005525
GRRI,0.001736
VEG,0.006535
Elevation(,0.033322
Moisture(%,0.084898
Height,0.170601

					2021

,Feature
,Red
,Green
,Blue
,BI
,GLI
,NGRDI
,VARI
,BGI
,ExG
,ExR
,ExB
,ExGR
,MGRVI
,RGBVI
,GRRI
,VEG
,Elevation(
,Moisture(%
,Height
,6162021
,0.015312
,0.011328
,0.028530
,0.011222
,0.008303
,0.004762
,0.016912
,0.012583
,0.015352
,0.008940
,0.015498
,0.014260
,0.004155
,0.007281
,0.004968
,0.007030
,0.089289
,0.523230
,0.201046
,6222021
,0.013898
,0.043562
,0.011574
,0.012387
,0.009050
,0.005694
,0.013735
,0.038795
,0.043021
,0.007610
,0.037758
,0.041641
,0.004639
,0.008974
,0.004449
,0.006739
,0.097581
,0.499021
,0.099871
,6302021
,0.009984
,0.018625
,0.012997
,0.009575
,0.006247
,0.011520
,0.036638
,0.015300
,0.024902
,0.021252
,0.018330
,0.024887
,0.009205
,0.010730
,0.010146
,0.013102
,0.100147
,0.506131
,0.140280
,7122021
,0.020122
,0.013553
,0.014919
,0.010097
,0.012782
,0.007675
,0.017479
,0.012550
,0.033997
,0.015483
,0.013560
,0.037359
,0.009027
,0.013512
,0.006321
,0.016717
,0.077013
,0.550646
,0.117188

,Mean
Red,0.014829
Green,0.021767
Blue,0.017005
BI,0.010820
GLI,0.009096
NGRDI,0.007413
VARI,0.021191
BGI,0.019807
ExG,0.029318
ExR,0.013321
ExB,0.021286
ExGR,0.029537
MGRVI,0.006756
RGBVI,0.010124
GRRI,0.006471
VEG,0.010897
Elevation(,0.091007
Moisture(%,0.519757
Height,0.139596
,SD
Red,0.003626
Green,0.012858
Blue,0.006759
BI,0.001083
GLI,0.002363
NGRDI,0.002594
VARI,0.009032
BGI,0.011019
ExG,0.010298
ExR,0.005463
ExB,0.009660
ExGR,0.010755
MGRVI,0.002367
RGBVI,0.002305
GRRI,0.002229
VEG,0.004212
Elevation(,0.009021
Moisture(%,0.019886
Height,0.038265

					2022

,Feature
,Red
,Green
,Blue
,BI
,GLI
,NGRDI
,VARI
,BGI
,ExG
,ExR
,ExB
,ExGR
,MGRVI
,RGBVI
,GRRI
,VEG
,Elevation(
,Moisture(%
,Height
,6152022
,0.034802
,0.040690
,0.079271
,0.042289
,0.021712
,0.017442
,0.067275
,0.066724
,0.022416
,0.016797
,0.048835
,0.020692
,0.011194
,0.032746
,0.014055
,0.022167
,0.162570
,0.177742
,0.100582
,6232022
,0.021929
,0.025131
,0.022287
,0.023895
,0.011912
,0.029215
,0.150665
,0.022662
,0.016277
,0.054889
,0.020814
,0.021746
,0.039154
,0.013286
,0.036938
,0.042828
,0.116306
,0.115599
,0.214467
,6282022
,0.023472
,0.073106
,0.289441
,0.055547
,0.012405
,0.009431
,0.100673
,0.018222
,0.024116
,0.046730
,0.020375
,0.024435
,0.009979
,0.016502
,0.014010
,0.021668
,0.057691
,0.129575
,0.052623
,7132022
,0.012592
,0.019115
,0.012375
,0.014943
,0.010025
,0.007528
,0.046044
,0.015200
,0.021553
,0.012191
,0.016552
,0.017965
,0.006081
,0.014148
,0.006215
,0.017195
,0.165663
,0.072351
,0.512265

,Mean
Red,0.023199
Green,0.039510
Blue,0.100843
BI,0.034169
GLI,0.014013
NGRDI,0.015904
VARI,0.091164
BGI,0.030702
ExG,0.021090
ExR,0.032652
ExB,0.026644
ExGR,0.021210
MGRVI,0.016602
RGBVI,0.019170
GRRI,0.017805
VEG,0.025965
Elevation(,0.125558
Moisture(%,0.123817
Height,0.219984
,SD
Red,0.007887
Green,0.020933
Blue,0.111840
BI,0.015797
GLI,0.004533
NGRDI,0.008538
VARI,0.039488
BGI,0.020966
ExG,0.002928
ExR,0.018458
ExB,0.012918
ExGR,0.002318
MGRVI,0.013157
RGBVI,0.007926
GRRI,0.011499
VEG,0.009927
Elevation(,0.043789
Moisture(%,0.037608
Height,0.178693